composer.phar
composer.lock
phpunit.xml
cov
vendor
bin
src/Payum/Core/Bridge/Propel2/Model/Base
src/Payum/Core/Bridge/Propel2/Model/Map
# PhpStorm IDE creates a .idea hidden folder that we don't want to version
.idea/
